<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="/static/css/lyrics.css" rel="stylesheet">
  <title>My Collections</title>
</head>

<body>
  {% include "react_and_bootstrap.html" %}
  <script type="text/jsx" src="/static/api/js/api.js"></script>
  <script type="text/jsx" src="/static/js/common_code/utils.js"></script>
  <div id="bigContainer">
    <div id="containerDiv">
      <textarea id='leftLineCounter' wrap='off' readOnly defaultValue='1.'
        style="font-size:16px; line-height:16px;"></textarea>
      <textarea id='lyricsEditor' wrap='off' style="font-size:16px; line-height:16px;"></textarea>
      <textarea id='rightLineCounter' wrap='off' readOnly defaultValue='1.'
        style="font-size:16px; line-height:16px;"></textarea>
      <div id='arrowsDiv' style="padding-top: 10px; height:490px; overflow:auto; overflow-y: hidden;">
      </div>
    </div>
  </div>
  <script type="text/jsx" src="/static/js/lyrics.js"></script>
</body>

</html>